@font-face {
    font-family: 'Farah';
    src: url('../assets/fonts/hamattan.woff'),
         url('../assets/fonts/hamattan.ttf');
    src: local('☺'), url('../assets/fonts/hamattan.woff') format('woff'), url('../assets/fonts/hamattan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Varela';
    src: url('../assets/fonts/vagrounded.woff'),
         url('../assets/fonts/vagrounded.ttf');
    src: local('☺'), url('../assets/fonts/vagrounded.woff') format('woff'), url('../assets/fonts/vagrounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#game
{   
    cursor: url("../assets/hand-small.png"), auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.inner-logo
{
    display: inline-block;
    position: absolute;
    right: 0;
    background-image: url("../assets/zido-logo.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 100px;
    margin-top: 15px;

}